body{
    background: rgb(0,0,0);
}

#centiseconds{
    font-size: 250%;
    left: 85%;
    top: 50%;
}

#painel{
    border: 10px solid rgb(255,255,255);
    color: rgb(255,255,255);
    top: 50px;
    width: 70%;
}

#painel, #centiseconds{
    position: absolute;
}

#time{
    font-size: 600%;
    margin: 30px;
}

#time, #centiseconds{
    font-family: Orbitron, Impact, Arial;
    display: inline-block;
}